<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="/resources/img/logo.png">
    <title>TLS WEB</title>
    <link rel="stylesheet" href="/resources/css/catalogo.css">
</head>

<body>
    <header>
        <div id="menu">
            <ul>
                <li id="logo">
                    <a href="/">
                        <img width=100px height=100px src="/resources/img/logo.png" />
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/#envios">Sistema de Envios</a></li>
                <li><a href="/#contacto">CONTACTO</a></li>
                <button id="checkout" class="button-checkout">Pagar</button>
            </ul>
        </div>
    </header>

    <section class="lista-productos"></section>
    <div class="producto-container">
        <div class="contenedor">
            <img src="/resources/img/arodeluz.jpg" alt="arodeluz" width="400">
            <div class="texto-encima"><a href="/arodeluz">Aro de luz 3 en 1</a></div>
            <h3>$6.990</h3><button onclick="add('Aro', 9990)">Agregar</button>
        </div>
    </div>
    </section>
    </div>

</body>