<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="/resources/img/logo.png">
    <title>TLS WEB</title>
    <link rel="stylesheet" href="/resources/css/catalogo.css">
    <script src="/resources/scripts.js"></script>
</head>

<body>
    <header>
        <div id="menu">
            <ul>
                <li id="logo">
                    <a href="/">
                        <img width=100px height=100px src="/resources/img/logo.png" />
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/#envios">Sistema de Envios</a></li>
                <li><a href="productos">Productos</a></li>
                <button id="checkout" class="button-checkout" onclick="pay()">Total</button>
            </ul>
        </div>
    </header>

    <section class="lista-productos"></section>
    <div class="producto-container">
        <div class="contenedor">
            <p>
                <img src="/resources/img/AUDIFONOS.jpg" alt="Audífonos Bluetooth" width="400" align="left"> Audifonos Bluetooth
                <ul>
    
                    <li>
                        Auriculares inalámbricos Mini-2 con Bluetooth, color Macaron mate, con micrófono y caja de carga
                    </li>
                    Caracteristicas
                    <li>
                        Cancelación de ruido activa: Sí
                    </li>
                    <li>
                        Tipo inalámbrico: Bluetooth
                    </li>
                    <li>
                        Salida máxima: 10mW
                    </li>
                    <li>
                        Función: Para teléfono móvil
                    </li>
                    <li>
                        Conectores: 3,5 mm
                    </li>
                    <li>
                        Peso: 21,4 g
                    </li>
    
                </ul>
    
                <h3>$8.490</h3><button class="button-add" onclick="add('arodeluz', 8490)">Agregar</button>
            </p>
        </div>
    </div>
    </section>
    </div>

</body>