<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="/resources/img/logo.png">
    <title>TLS WEB</title>
    <link rel="stylesheet" href="/resources/css/catalogo.css">
    <script src="/resources/scripts.js"></script>
</head>

<body>
    <header>
        <div id="menu">
            <ul>
                <li id="logo">
                    <a href="/">
                        <img width=100px height=100px src="/resources/img/logo.png" />
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/#envios">Sistema de Envios</a></li>
                <li><a href="productos">Productos</a></li>
                <button id="checkout" class="button-checkout" onclick="pay()">Total</button>
            </ul>
        </div>
    </header>
    <section class="lista-productos"></section>
    <div class="producto-container">
        <div class="contenedor">
           
            <p>
                <img src="/resources/img/cabletipoc.jpg" alt="Cable tipo C" width="400" align="left"> 
                <ul>
    
                    <li>
                        Cable tipo c
                    </li>
                    Caracteristicas
                    <li>
                        Tamaño: 2 Metros
                    </li>
                    <li>
                        Corriente máxima: 5 A
                    </li>
                    <li>
                        Function: 3A PD Quick Charge Charging & Fast Data Transmission USB-C Cable Cord
                    </li>
                    <li>
                        Material: Aluminum + TPE + Nylon Braided Wire
                    </li>
                    <li>
                        Certificación; FCC, CE, RoHs, MFi (Hecho para iPhone, iPad, iPod, Apple Watch)
                    </li>
                    <li>
                        Peso: 16,7 g
                    </li>
    
                </ul>
    
                <h3>$3.490</h3><button class="button-add" onclick="add('arodeluz', 3490)">Agregar</button>
            </p>
        </div>
    </div>
    </section>
    </div>

</body>