<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="/resources/img/logo.png">
    <title>TLS WEB</title>
    <link rel="stylesheet" href="/resources/css/catalogo.css">
    <script src="/resources/scripts.js"></script>
</head>

<body>
    <header>
        <div id="menu">
            <ul>
                <li id="logo">
                    <a href="/">
                        <img width=100px height=100px src="/resources/img/logo.png" />
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/#envios">Sistema de Envios</a></li>
                <li><a href="productos">Productos</a></li>
                <button id="checkout" class="button-checkout" onclick="pay()">Total</button>
            </ul>
        </div>
        <section class="lista-productos">
            <div class="producto-container">
                <img src="/resources/img/parlante.jpg" alt="Parlante Bluetooth" width="400" align="left">
                <div class="contenedor">

                    <p>
                        <ul>
                            <h1>Parlante Bluethoot</h1>
                            <h2>Caracteristicas</h2>
                            <li>
                                Altavoz de alta potencia de 5W + diafragma de graves, el efecto de sonido es mejor
                            </li>
                            <li>
                                Función de llamada manos libres
                            </li>
                            <li>
                                Batería de 1200 mAh para hasta 8 horas de juego a un volumen del 2/3 con una carga completa
                            </li>
                            <li>
                                Especificaciones
                            </li>
                            <li>
                                Versión inalámbrica: V5.0
                            </li>
                            <li>
                                Distancia de conexión: 10 metros
                            </li>
                            <li>
                                Tiempo de carga: 2-3 horas
                            </li>
                        </ul>
                        <h3>$8.490</h3><button class="button-add" onclick="add('arodeluz', 8490)">Agregar</button>
                    </p>
                </div>
            </div>
        </section>
        </div>
    </header>
</body>