<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="/resources/img/logo.png">
    <title>TLS WEB</title>
    <link rel="stylesheet" href="/resources/css/catalogo.css">
</head>

<body>
    <header>
        <div id="menu">
            <ul>
                <li id="logo">
                    <a href="/">
                        <img width=100px height=100px src="/resources/img/logo.png" />
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/#envios">Sistema de Envios</a></li>
                <li><a href="/#contacto">CONTACTO</a></li>
            </ul>
        </div>
    </header>

    <div class="wrap">
        <h1>LLEVE DE LO BUENO!</h1>
        <div class="store-wrapper">
            <section class="lista-productos"></section>
                    <div class="producto-container">
                        <div class="contenedor">
                        <img src="/resources/img/arodeluz.jpg" alt="arodeluz" width="400">
                        <div class="texto-encima"><a href="#">Aro de luz 3 en 1</a></div>
                      </div>                   
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <img src="/resources/img/AUDIFONOS.jpg" alt="Audífonos Bluetooth" width="400">
                        <div class="texto-encima"><a href="#">Audífonos Bluetooth</a></div>
                      </div>
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <img src="/resources/img/cabletipoc.jpg" alt="Cable tipo C" width="400">
                        <div class="texto-encima"><a href="#">Cable tipo C</a></div>
                      </div>  
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <img src="/resources/img/parlante.jpg" alt="Parlante Bluetooth" width="400">
                        <div class="texto-encima"><a href="#">Parlante Bluetooth</a></div>
                      </div>
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <img src="/resources/img/USB-C to Lightning.jpg" alt="USB-C to Lightning" width="400">
                        <div class="texto-encima"><a href="#">USB-C to Lightning</a></div>
                      </div>
                   
                </div>
            </section>
        </div>
    </div>
</body>

</html>