<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="/resources/img/logo.png">
    <title>TLS WEB</title>
    <link rel="stylesheet" href="/resources/css/catalogo.css">
    <script src="/resources/scripts.js"></script>
</head>

<body>
    <header>
        <div id="menu">
            <ul>
                <li id="logo">
                    <a href="/">
                        <img width=100px height=100px src="/resources/img/logo.png" />
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/#envios">Sistema de Envios</a></li>
                <li><a href="/#contacto">CONTACTO</a></li>
                <button id="checkout" class="button-checkout" onclick="pay()">Total</button>
                <li><a href="/pago">Ir a pagar</a></li>
            </ul>
        </div>
        <div class="wrap">
            <h1>LLEVE DE LO BUENO!</h1>
            <div class="page-content">
                <section class="lista-productos"></section>
                <div class="producto-container">
                    <div class="contenedor">
                        <a href="arodeluz"><img src="/resources/img/arodeluz.jpg" alt="arodeluz" width="200"></a>
                        <div class="texto-encima">
                            <a href="/arodeluz">Aro de luz 3 en 1</a>
                        </div>
                        <h3>$6.990</h3><button class="button-add" onclick="add('arodeluz', 6990)">Agregar</button>
                    </div>
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <a href="audifonos"><img src="/resources/img/AUDIFONOS.jpg" alt="Audífonos Bluetooth" width="200"></a>
                        <div class="texto-encima"><a href="/audifonos">Audífonos Bluetooth</a></div>
                        <h3>$8.490</h3><button class="button-add" onclick="add('audifono', 8490)">Agregar</button>
                    </div>
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <a href="cabletipoc"><img src="/resources/img/cabletipoc.jpg" alt="Cable tipo C" width="200"></a>
                        <div class="texto-encima"><a href="/cabletipoc">Cable tipo C</a></div>
                        <h3>$3.490</h3><button class="button-add" onclick="add('cabletipoc', 3490)">Agregar</button>
                    </div>
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <a href="parlante"><img src="/resources/img/parlante.jpg" alt="Parlante Bluetooth" width="300"></a>
                        <div class="texto-encima"><a href="/parlante">Parlante Bluetooth</a></div>
                        <h3>$8.490</h3><button class="button-add" onclick="add('parlante', 8490)">Agregar</button>
                    </div>
                </div>
                <div class="producto-container">
                    <div class="contenedor">
                        <a href="usbc"><img src="/resources/img/USB-C to Lightning.jpg" alt="USB-C to Lightning" width="200"></a>
                        <div class="texto-encima"><a href="/usbc">USB-C to Lightning</a></div>
                        <h3>$4.990</h3><button class="button-add" onclick="add('usbc', 4990)">Agregar</button>
                    </div>
                </div>
                </section>
            </div>
        </div>
    </header>

</body>

</html>