<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="/resources/img/logo.png">
    <title>TLS WEB</title>
    <link rel="stylesheet" href="/resources/css/catalogo.css">
    <script src="/resources/scripts.js"></script>
</head>

<body>
    <header>
        <div id="menu">
            <ul>
                <li id="logo">
                    <a href="/">
                        <img width=100px height=100px src="/resources/img/logo.png" />
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/#envios">Sistema de Envios</a></li>
                <li><a href="productos">Productos</a></li>
                <button id="checkout" class="button-checkout" onclick="pay()">Total</button>
            </ul>
        </div>
    </header>

    <section class="lista-productos"></section>
    <div class="producto-container"></div>
    <div class="contenedor">
        <p>
            <img src="/resources/img/USB-C to Lightning.jpg" alt="USB-C to Lightning" width="400" align="left"> 
            <ul>

                <li>
                    Conector: USB-C macho a Lightning macho
                </li>
                Compatibilidad
                <li>
                    iPhone 12, Iphone 12 Pro, Iphone 12 mini, iPhone XS, iPhone XS Max, iPhone XR, iPhone 8, iPhone 8 Plus, iPhone X, iPhone 7, iPhone 7 Plus, iPhone SE, iPhone 6S Plus, iPhone 6S, iPhone 6
                </li>
                <li>
                    iPad Pro, iPad mini 4, iPad Air 2, iPad mini 3, iPad Air, iPad mini 2, iPad mini, iPad (cuarta generación)
                </li>
                <li>
                    iPod touch (sexta generación), iPod touch (quinta generación)
                </li>
                <li>
                    Velocidad de transferencia: USB2.0: 480 Mbps máx.
                </li>
                <li>
                    Certificación; FCC, CE, RoHs, MFi (Hecho para iPhone, iPad, iPod, Apple Watch)
                </li>
                <li>
                    Peso: 32,6 g
                </li>

            </ul>

            <h3>$4.990</h3><button onclick="add('USB-C', 9990)">Agregar</button>
        </p>


    </div>
    </div>
    </section>
    </div>

</body>