body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.87);
    font-size: 18px;
}

header {
    background-image: url(../img/FONDO.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: black;
    background-color: rgb(255, 255, 255);
}

#menu {
    padding: 10px 0;
}

header #menu ul {
    margin: 0;
    padding: 0px;
}

header #menu ul li {
    display: inline-block;
    padding: 30px;
    vertical-align: middle;
}

header #menu ul li a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}

header #menu ul li a:hover {
    color: red;
    text-decoration: underline;
}

header #menu ul #logo {
    margin-right: 40%;
    margin-left: 90px;
}

.wrap h1 {
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}

.wrap .store-wrapper .lista-productos .product-item a {
    text-decoration: none;
    font-size: 24px;
    line-height: 20px;
    color: black;
}

.wrap .store-wrapper .lista-productos .product-item a:hover {
    color: rgb(92, 22, 22);
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px red;
}

.producto-container {
    margin: 15px;
    padding: 2px 16px;
}

.producto-container img {
    width: 450px;
}

.page-nav h1 {
    margin: 20px;
}

.page-nav {
    background-color: #2196f3;
    border: 1px solid black;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.buttoon-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.texto-encima a {
    color: white;
    text-decoration: none;
    text-align: center;
    border: black;
    padding: 40px 125px;
}

.button-add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    /* Green */
    transition-duration: 0.4s;
}

.button-add:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.button-add.disabled {
    background-color: white;
    color: black;
    border: 2px solid #9e9e9e;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.button-add.disabled:hover {
    background-color: #9e9e9e;
    color: white;
}

.order {
    min-width: 75%;
    display: none;
}

.order-table {
    width: 100%;
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9e9e;
}

.order-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.order-actions p {
    padding-left: 20px;
    padding-right: 20px;
}

.order-actions p:hover {
    cursor: pointer;
}

.order-shipping {
    font-size: large;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9e9e;
}

.order-shipping .form-group {
    padding-bottom: 5px;
}

input {
    border-radius: 5px;
    border: 1px solid #ff5959;
}

.lista-productos {
    margin-right: 20px;
    margin-left: 20px;
    background-size: auto;
}

.producto-container {
    margin-top: 20px;
    margin-bottom: 20px;
    content: center;
}

.producto-container img {
    margin-top: 40px;
    content: center;
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}