body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.87);
    font-size: 18px;
}

header {
    background-image: url(../img/FONDO.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: black;
    background-color: rgb(255, 255, 255);
}

#menu {
    padding: 10px 0;
}

header #menu ul {
    margin: 0;
    padding: 0px;
}

header #menu ul li {
    display: inline-block;
    padding: 30px;
    vertical-align: middle;
}

header #menu ul li a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}

header #menu ul li a:hover {
    color: red;
    text-decoration: underline;
}

header #menu ul #logo {
    margin-right: 40%;
    margin-left: 90px;
}

.wrap h1 {
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}

.wrap .store-wrapper .lista-productos .product-item a {
    text-decoration: none;
    font-size: 24px;
    line-height: 20px;
    color: black;
}

.wrap .store-wrapper .lista-productos .product-item a:hover {
    color: rgb(92, 22, 22);
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px red;
}
.producto-container{
    margin: 15px ;
    padding: 2px 16px;
}

.producto-container img{
    width: 450px;
}

.page-nav h1 {
    margin: 20px;
}

.page-nav {
    background-color: #2196f3;
    border: 1px solid black;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.buttoon-checkout {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
